<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div class="alert alert-danger alert-dismissible" *ngIf="error != ''">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{error}}
        </div>
        <h3>Change Password</h3>
        <form class="m-t" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
            <div class="form-group">
                <input type="password" name="new_password" class="form-control" placeholder="New Password" [(ngModel)]="model.new_password" #new_password="ngModel" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" required>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
        </form>
    </div>
</div>
